---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import kodak from "../assets/images/kodak.jpg";
import kodakNu from "../assets/images/110_kodak.jpg";
import kodak_gul from "../assets/images/kodak_gul.jpg";
---

<MainLayout title="110-filmen">
  <section class="bg-amber-400">
    <div class="text-5xl">
      <h1 class="place-self-center">KODAK 110-FILMEN</h1>
      <h2 class="place-self-center mt-10 mb-10">EN FILM DER IKKE ER GLEMT</h2>
    </div>
    <div>
      <Image src={kodak} alt="Photo by Immo Wegmann on Unsplash" class="lg:w-[60%] w-[100%] place-self-center" />
      <p class="text-center text-sm mt-2">
        Photo by <a href="https://unsplash.com/@tinkerman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Immo Wegmann</a> on <a
          href="https://unsplash.com/photos/white-and-blue-checked-textile--fJ8Rbnj8Mo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a
        >
      </p>
    </div>
  </section>

  <section class="">
    <div class="place-self-center">
      <div class="m-50 mt-40">
        <p class="text-center text-2xl mr-30 ml-30">
          110-filmen fra Kodak blev et hit 110-film blev introduceret af Kodak i 1972 og blev hurtigt populært blandt hobbyfotografer og familier. Som et kompakt og brugervenligt filmformat til
          lommekameraer. Filmen kom i en lille kassette, hvilket gjorde det nemt at indsætte og skifte uden at skulle rulle filmen manuelt. Formatet blev hurtigt populært til hverdagsfotografering,
          men billedkvaliteten var begrænset sammenlignet med større filmformater som 35mm.
        </p>
      </div>
    </div>
  </section>

  <section class="grid grid-cols-2">
    <div class="ml-10">
      <h3 class="text-5xl">Fordele ved 110-filmen</h3>
      <p class="text-2xl">
        Kameraer som Kodak Pocket Instamatic blev populære til rejser og hverdagsbrug. Billederne er 13×17 mm, hvilket er mindre end 35mm-film, hvilket giver en mere kornet kvalitet, især ved
        forstørrelser. Hver film har bagpapir med nummerering, hvilket gør det nemt at se, hvor mange billeder der er taget.
      </p>
    </div>
    <div>
      <Image src={kodakNu} alt="kodakNu" class="lg:w-[60%] w-[100%] place-self-center" />
      <p class="text-center text-sm mt-2">
        Photo by <a href="https://unsplash.com/@jakobowens1?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jakob Owens</a> on <a
          href="https://unsplash.com/photos/kodak-gold-200-box-wkirT2ac6Y0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a
        >
      </p>
    </div>
  </section>

  <section>
    <div class="">
      <h3 class="text-5xl place-self-center mt-50">Ulemper ved 110-filmen</h3>
      <p class="text-2xl m-60 mt-20">
        Ulempen ved 110-filmen var at den lille negativstørrelse gav mere kornede billeder sammenlignet med 35mm-film. 35mm-kompaktkameraer blev mindre og billigere med bedre linser, og det gjorde at
        i slutningen af 90’erne blev digitale kameraer mere almindelige, hvilket skubbede filmkameraer ud af markedet.
      </p>
    </div>
  </section>

  <section>
    <div class="grid lg:grid-cols-2">
      <div>
        <Image src={kodak_gul} alt="kodak gul" class="lg:w-[65%] w-[100%] place-self-center ml-40" />
        <p class="text-center text-sm mt-2">
          Photo by <a href="https://unsplash.com/@museumsvictoria?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Museums Victoria</a> on <a
            href="https://unsplash.com/photos/kodak-films-box-eq9Mcakhmug?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a
          >
        </p>
      </div>
      <div class="mr-50">
        <h3 class="text-5xl mt-40">110-filmen fra Kodak fik et fald</h3>
        <p class="text-2xl mt-10">
          Kodak stopppede produktionen af 110-filmen i 2009, men formatet fik en lille niche-genopblomstring i 2010’erne blandt analog-fotoentusiaster. Selvom 110-film aldrig blev mainstream igen,
          lever det videre i lommekamera-samlerkredse og retro-foto-miljøer. Hjemmesider som Lomography tilbyder et udvalg af 110-film, herunder farvenegativ, sort/hvid og redscale-varianter stadig
          den dag i dag i 2025.
        </p>
      </div>
    </div>
  </section>
</MainLayout>
